.nav-body {
    background-color: #202020;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 100%;
    min-height: 10%;
    color: white;
    font-family: Arial;
    text-align: center;
}

.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}